/* HeroComp */
.experience-section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-lightblue {
  background-color: #e6efff;
}

.object-fit-cover {
  object-fit: cover;
}

/* DiscountOffers  */
.offer-card {
  transition: transform 0.2s ease;
}

.offer-card:hover {
  transform: translateY(-4px);
}

/* TrendingSetups */
.card:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease;
}

.bginput::placeholder {
  color: #a0aec0;
}

/* LoginPage */
.login-container {
  height: 100vh;
  max-width: 100%;
}

.gaming-image {
  background-image: url('./assets/login/loginFirst.png');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
}

.loginImg {
  margin-bottom: 20%;
}

.mainClass {
  width: 100%;
    height: 100vh;
    background-image: url('./assets/home-img/bgImg.png');
   background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
}